// primary colors
$primary-bg: #203b4c;
$primary-bg-clear: #203b4cb5;
$primary-bg-dark: #162935;
$primary-bg-light: #4c626f;
$silver: #afafaf;
$white: #ffff;

// secondary colors
$secondary-accent: #fcca42;
$secondary-accent-light: #fcca42c6;
$secondary-dark: #b08d2e;
$secondary-light: #b08d2e;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Breakpoints
$mobile-breakpoint: 20rem; //320px
$pre-tablet: 40rem;
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px
