@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  transform: translateY(-111%) translateX(-50%);
  background-color: $primary-bg-clear;
  overflow: hidden;
  min-height: 20rem;
  width: 20rem;
  border-radius: 20px;
}
.event {
  @include text-settings(15px, _, _);
  color: white;
  margin: 0.5rem 0 0 0;
  height: 100%;
  width: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
    margin: 0.5rem 1rem;
  }

  &__user-info {
    width: 90%;
    @include flex(row, _, center);
  }
  &__avatar {
    margin: 0.2rem;
    background-color: white;
  }
  &__info {
    margin: 0.2rem;
    &--user-name {
      width: 100%;
      border-radius: 3px;
    }

    &--type {
    }
    &--description {
      @include text-settings(14px, _, _);
      width: 80%;
      margin: 0.1rem 0 1rem 2rem;
    }
  }
}

.container {
  margin: 0.4rem 0 0 0;
  @include flex(row, _, _);
}

.icon {
  margin: 0.2rem;
  &--description {
    content: url("../../assets/SVG/info.svg");
  }
  &--size {
    content: url("../../assets/SVG/users\ \(1\).svg");
  }
  &--address {
    content: url("../../assets/SVG/map-pin.svg");
  }
  &--date {
    content: url("../../assets/SVG/calendar.svg");
  }
}
.triangle {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 250px;
  border: 25px solid;
  border-color: rgb(255, 248, 248) transparent transparent #666;
}

.logged-out {
  margin: 5rem 2rem 2rem 2rem;
}
.button-Container {
  height: 2rem;
  width: 8rem;
  margin: 0 0 0 11rem;
}
