@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.landing {
  width: 100vh;
  height: 100vh;
  &__logo {
  }
  // &__
}
.background {
  background-image: url("../../assets/images/photo-1565113051777-a5b348a45d40.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
