@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.landing {
  width: 100%;
  height: 100%;
  &__logo {
    position: absolute;
    top: 5%;
    height: 3rem;
    margin: 1.5rem;
    z-index: 1;
    font-weight: 700;
    text-shadow: 1px 5px 10px black;
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px black;
    color: white;
  }
  &__text-container {
    @include flex(column, space-between, _);
    position: absolute;
    top: 6.25rem;
    height: 5rem;
    margin: 1.5rem;
    font-weight: 600;
  }
  &__text {
    color: white;
    z-index: 1;
  }
  &__main-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
}
.shadow {
  position: absolute;
  // opacity: 50%;
  height: 30rem;
  background-color: red;
  position: absolute;
  top: 200px;
  height: 100%;
  height: 20rem;
  margin: 50%;
  z-index: 1;
}
