@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.create-event {
  border-left: 6px solid $secondary-accent;
  height: 100%;
  width: 100%;
  &__container {
    height: 50%;
    @include flex(column, center, center);
    align-items: center;
  }
  &__instructions {
    margin: 1rem;
    font-weight: 500;
    line-height: 2;
  }
}
.below-header {
  border-bottom: 6px solid $primary-bg;
}
