@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.avatar {
  background-color: white;
  @include tablet {
    z-index: 1;
  }
}
.header {
  background-color: black;
  height: 6.25rem;
}
.logo {
  @include tablet {
    font-size: 40px;
  }
}

#menu-appbar {
  transform: translateY(70px);
}
